*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.nav-top{
    padding: 12px;
    /* padding-bottom: 12px; */
    width: 100%;
    background-color: rgb(0, 39, 65);
    display: flex;
    height: 80px;
    border-top: 4px solid rgb(148, 138, 51);
    border-bottom: 6px solid rgb(0, 19, 31);
    /* justify-content: space-between; */
}
.menu-field{
    
    margin-left:48% ;
    border-right: 1px solid rgb(202, 192, 192);
    padding-right: 12px;
    padding-top: 4px;
    height: 32px;
}
.menu-1{
    display: flex;
list-style-type: none;
font-weight: 800;
gap: 32px;
}
.menu-2{
    display: flex;
    list-style-type: none;
    padding-top: 4px;
    color: #c6cdd8;
    font-weight: 12;
    padding-left:12px ;
    gap: 32px;
    /* margin-left:2% ; */
}
.nav-top ul li{
padding-top: 4px;
padding-bottom: 8px;
padding-right: 5px;
padding-left: 5px;
height: 12px;
}
.nav-top ul li:hover{
    background-color: rgb(4, 75, 122);
    border-radius: 7px;
    transition: 0.4s;
}
.nav-top ul{
    color: white;

}
.nav-top img{
    margin-top: 12px;
    margin-left: 50px;
    height: 50px;
}
.extra-menus{
    background:white;
    width: 40%;
    height: 43px;
    margin-left: 46%;
    margin-top: -20px;
    margin-right: 10%;
    display: flex;
    /* padding-top: 12px; */
}
.extra-menus .btn-extra{
    min-width: 100px;
    /* transition: 1s; */
    color: #464c55;
    text-align: center;
    background-color: white;
    border: none;
    height: 43px;
}
.extra-menus .btn-extra:hover{
    min-width: 100px;
    transition: 1s;
    color: #464c55;
    height: 43px;
    text-align: center;
    background-color: #edf2f9;
    border-bottom:2px solid #c6cdd8;
}
.extra-menus .research-button{
    
    min-width: 40px;
    color: #464c55;
    background-color:white;
    border: none;
    /* position: absolute; */
    height: 43px;
    
}
.extra-menus .research-button:hover{
    border-bottom:2px solid #c6cdd8;
    background-color: #edf2f9;
    color: #464c55;
    height: 43px;
    text-align: center;
}
.home-bold{
    background: url(./feature-bg-1600.jpeg);
    /* background-size: cover; */
    width: 100%;
    margin-top: -42px;
    /* position: absolute; */
    display: flex;
    height: 480px;
}
.home-bold img{
    margin-top:3% ;
    position: absolute;
    width: 58%;
    margin-left: 30%;
    height:500px ;
}
.home-bold .img-fl{
    
    position:absolute;
    width: 57%;
    margin-left: 30.3%;
    margin-top: 3.4%;
    /* margin-left: 0.3%; */
    height:487px ;
    border: 1px solid #edf2f9;
}
.home-bold .left{
    padding: 40px;
    
    padding-right: 30px;
    height: 170px;
    margin-top: 60px;
    position: static;
    margin-left: 5%;
    border-bottom-width:12px ;
    border-bottom:4px solid rgb(179, 161, 59);
}
.home-bold .left h4{
    color: rgb(0, 39, 65);
    font-weight: 400;
    width: 26%;
    position: absolute;
    /* font-size: 2px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-bold .left h1{
    position: absolute;
    font-weight: 400;
    /* font-size: 2px; */
    width: 26%;
    color: rgb(0, 39, 65);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-bold button{
    height: 38px;
    width: 110px;
    display: flex;
    position: relative;
    margin-top:25%;
    padding-left:12px ;
    font-size: 12px;
    margin-left:20%;
    background: none;
    gap: 3px;
    padding-top:12px;
    transition: 0.1s;
    border-radius: 8px;
    border: none;
}
.home-bold button:hover{
    height: 38px;
    width: 115px;
    background-color: white;
    gap: 6px;
    font-size: 12.3px;
    /* transition: 0.1s; */
    /* padding: 3px; */
    display: flex;
    transition: 1s;
    margin-left: 19.7%;
}
.gapping{
    font-size: 10px;
    padding-top: 2px;
    color: rgb(148, 138, 51);
}
table tr{
    color: rgb(0, 39, 65);
}
.Monalisa{
    width:80%;
}
.Monalisa tr .table-contents1{
    padding: 12px 12px;
    margin-left: 80px;
    /* width: 150px; */
    zoom: 99%;
}
.Monalisa .table-contents1:hover{
background-color: rgb(198, 219, 233);
transform: scale(0.1);
/* zoom: 100%; */
}
.Monalisa td img{
    /* zoom: 99%; */
    width: 400px;
}
.Monalisa td img:hover{
    
}

.Monalisa .table-contents1-mo:hover{
    background-color: rgb(198, 219, 233);
    transform: scale(1.1);
    }
    .monatd{
        width: 400px;
    }